<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= current_user.name %>
</p>

<p>
  <strong>Events:</strong>
  <% current_user.created_events.each do |event| %>
    <tr>
      <td><%= event.date%>
    </td>
  <% end %>
</p>

<%= button_to "Logout", logout_path, method: :delete%>
